<h1>Confirmez votre adresse email</h1>

<p>
	Confirmez votre adresse mail en cliquant sur ce lien:
	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon email</a>.
		    ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci
</p>
